/* default styles for all pages */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 20px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #3d3d5d;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d3d5d;
}

.btn {
  padding: 8px 16px;
  margin: 0 5px 20px 0;
  border: none;
  border-radius: 4px;
  background-color: #3d3d5d;
  color: white;
  font-size: 1rem;
  transition: 200ms ease-in all;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
